
<body>
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Who are we</span>
        <span class="site-heading-lower">About us</span>
    </h1>
</header>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/img/newabout.jpg" alt="..."/>
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Far sighted, Strong Code</span>
                            <span class="section-heading-lower">About Our Team</span>
                        </h2>
                        <p>Founded in 2019 by Patrick Carroll, Aaron Fortner and James Montis, our team has been producing
                            applications and apps for small to medium clients focusing on human resources and industrial
                            systems in an academic setting at Texas A&M Corpus Christi university.
                            </p>
                        <p class="mb-0">
                            We guarantee en effective and efficient solution to meet your requirements in timely manner 
                            with a focus on <em>usability and economy</em>.  We are constartly striving to improve and 
                            learn and keep current with the latest trends in effective software design from start to 
                            to ensure we meet our core values of quality and offering real value to our customers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>