
<body>
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Benefits</span>
        <span class="site-heading-lower">Why work for us!</span>
    </h1>
</header>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Our <strong>strength</strong> lies in our <em>differences</em></span>
                        <span class="section-heading-lower">Diversity, Equality and Inclusion</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/img/diversity.jpg" alt="..."/>
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">We strive to be a leader in our market, with tradition of success and an even brighter 
                        future. We understand that our people drive our success, and we are committed to making sure 
                        Quick-Stop is a great place to work.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">A real future</span>
                        <span class="section-heading-lower">Career Growth</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/img/manager.jpg" alt="..."/>
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">We take pride in our hard-working employees by offering competitive pay and a 
                        comprehensive benefits plan designed to meet the needs of our diverse employees. You will 
                        receive a benefits package outlining those benefits specific to you.  How far you go in our
                        company is only limited by your drive and desire, like Dante who went from a part time counter 
                        staff member in college to become the current assistant to the regional manager for all Quick 
                        Stops in the greater Red Bank area.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Flexible schedules</span>
                        <span class="section-heading-lower">Work when <strong>you</strong> want.</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/img/timeOff.jpg" alt="..."/>
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Being open 24 hours a day, 7 days a week means there's opportunity to work a schedule
                        that suits your life and needs and adapt as they change.  We offer full overtime pay for working
                        Federal holidays and strive to accomodate our team members religious and familial special times
                        in scheduling.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>