@model JAM_mkII.Models.ViewModels.UserEditViewModel
@{
    ViewBag.Title = "Edit User ";
}

<h2>Edit User: <span>@Model.Email</span></h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="Edit">
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Email address</label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Email" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>First Name:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" asp-for="FName"
                   class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="FName"
                  class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Last Name:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" asp-for="LName"
                   class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="LName"
                  class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>SSN:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" asp-for="SSN"
                   class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="SSN"
                  class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Date of Birth:</label>
        </div>
        <div class="col-sm-4">
            <input type="date" asp-for="DoB" value="1990-01-01" min="1930-01-01" max="2030-01-01"
                   class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="DoB"
                  class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Address:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" asp-for="Address"
                   class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="Address"
                  class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Phone Number:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" asp-for="PhoneNumber"
                   class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="PhoneNumber"
                  class="text-danger">
            </span>
        </div>
    </div>

    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</form>