@using JAM_mkII.Models.ViewModels
@{
    Layout = "_Layout";

    var current = ViewContext.RouteData.Values["controller"]?.ToString();
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
<ul class="nav nav-tabs mt-2 mb-3">
    <li class="nav-item">
        <a asp-action="UserMgmt" asp-controller="User" 
           class="nav-link @Nav.Active("User", current)">
            Manage Users
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Manage Jobs" ? "active nav-item" : "nav-item")">
        <a asp-action="JobMgmt" asp-controller="JobAdmin"
           class="nav-link @Nav.Active("JobAdmin", current)">
            Manage Jobs
        </a>
    </li>
</ul>

@RenderBody()