@model JAM_mkII.Models.DomainModels.Job

@{
    string title = ViewBag.Action;
    ViewBag.Title = title;
}

<h4>@title</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobId"/>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <input asp-for="PositionId" class="form-control"/>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label"></label>
                <input asp-for="StoreId" class="form-control"/>
                <span asp-validation-for="StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenDate" class="control-label"></label>
                <input asp-for="OpenDate" type="date"
                       min="@DateTime.Today" value="1990-01-01" min="1930-01-01" max="2030-01-01"class="form-control"/>
                <span asp-validation-for="OpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloseDate" class="control-label"></label>
                <input asp-for="CloseDate" type="date"
                       min="@DateTime.Today" value="1990-01-01" min="1930-01-01" max="2030-01-01" class="form-control"/>
                <span asp-validation-for="CloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br/>
                <input type="submit" value="Save Change" class="btn btn-danger"/>
                <input type="submit" value="Back to List" class="btn btn-primary" asp-action="JobAdmin"/>
            </div>
        </form>
    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
